html, body {
    width: 210mm;
    height: 297mm;
}

body {
    margin: 0;
}

.resume {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 100px 1022px;
    grid-template-columns: 100%;
    grid-template-areas: 'header' 'body';
    font-size: 13px;
    line-height: 1.5;
    font-family: 'Open Sans', serif;
}

.header, .body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 35% 65%;
}

.header {
    grid-template-columns: 33% 34% 33%;
    grid-area: header;
    grid-template-areas: '. name contactDetails';
}

.name {
    grid-area: name;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.contactDetails {
    grid-area: contactDetails;
    text-align: right;
    padding-right: 14px;
    align-self: center;
}

.body {
    grid-area: body;
}

.section {
    width: calc(100% - 28px);
    padding: 14px;
    border-top: 1px solid #9E9E9E;
}

.experience {
    width: calc(100% - 56px);
    padding-left: 42px;
}

.column {
    border-top: 1px solid #9E9E9E;
}

.sectionHeader {
    font-size: 21px;
    font-weight: bold;
}

.subsection {
    display: grid;
    grid-template-areas: 'subheader subdate' 'suborg suborg' 'subdet subdet';
    grid-template-columns: auto 130px;
}

.subsectionHeader {
    grid-area: subheader;
    font-size: 16px;
    font-weight: bold;
}

.subsectionDates {
    grid-area: subdate;
    text-align: right;
}

.subsectionOrganization {
    grid-area: suborg;
    font-style: italic;
}

.subsectionDetails {
    grid-area: subdet;
    font-size: 12px;
}

.subsectionDetails ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.project {
    grid-template-columns: auto auto;
    padding-bottom: 8px;
}

.education {
    grid-template-columns: auto auto;
}

.education .subsectionHeader{
    font-size: 13px;
}

.experiences {
    margin-bottom: 16px;
    border: 1px solid #9E9E9E;
    border-radius: 8px;
    padding: 13px;
}

.experience > .sectionHeader {
    margin-bottom: 16px;
}